$rowtextsize: 30px
$rowtextweight: lighter

#dashboard
  h2
    font-size: 40px
    clear: both
  small
    font-size: 1em
    color: #999
  #most-recent-heat, #upcoming-heats
    line-height: 50px
    .name, .time
      font-size: $rowtextsize
      font-weight: $rowtextweight
    .lanes
      line-height: 35px
  #upcoming-heats
    line-height: 50px
    margin-top: 50px
    .current-race.btn-success
      border-radius: 6px
      padding-left: 10px
    .cancel-heat
      $icon_size: 15px
      position: absolute
      width: $icon_size
      margin-left: -$icon_size
      height: $icon_size
      margin-top: $icon_size / 4

  a.postponable
    color: #333
  a.postponable:hover
    color: #b94a48
    text-decoration: line-through
.time-bar
  display: flex
  float: left
  flex-direction: column-reverse
  margin: 10px
  width: 140px
  text-align: center
  font-size: $rowtextsize*2/3
  white-space: nowrap
  div
    height: $rowtextsize
  .time-bar-box
    border: 1px solid #aaa
