.jumbotron {
  margin: 60px 0;
  text-align: center;

  h1 {
    font-size: 72px;
    line-height: 1;
  }
  h2 {
    font-size: 54px;
    line-height: 1;
    color: rgb(75, 75, 75);
  }
  .btn-large {
    font-size: 21px;
    padding: 14px 24px;
    margin: 50px 0;
  }
  p {
    font-size: 18px;
  }
  .derby-url {
    font-size: 24px;
  }
}
